.menuBar {
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
}

.menuItems {
    background: linear-gradient(to top, #ffffff, #f0f0f0);
    width: 100%;
    margin-top: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 1.2em 0;
    color: #060606;
    list-style-type: none;
}

.menuItem {
    margin: 0 1.5em;
    transition: text-shadow 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    color: #000000;
    text-decoration: none;
}

.menuItem:hover {
    text-shadow: 1px 1px 24px #080808;
    cursor: pointer;
    transform: scale(1.1);
}

.menuLogo {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1em;
    background: linear-gradient(to top, #252525, #404040);
    color: white;
    display: flex;
    align-items: center;
    padding: 1.8em 0.5em;
    margin: 0.3em;
    z-index: 1;
    border-radius: 100%;
    transition: transform 0.3s ease-in-out;
}

@media only screen and (min-width: 576px) {
    .menuLogo:hover {
        transform: scale(2) translate(25%, 25%);
    }
}

@media only screen and (max-width: 576px) {
    .menuItems {
        background: #f0f0f0;
        flex-direction: column;
        padding-top: 6.4em;
        transition: transform 0.3s ease-in-out;
    }
    .menuItem {
        margin: 0.7em 0;
    }
    .menu-hidden {
        transform: translateX(-100%);
    }
    .menuLogo {
        left: 50%;
        transform: translateX(-50%);
    }
    .menu-logo-hidden {
        transform: translateX(-50%) translateY(-150%) rotate(-90deg);
    }
}